* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  display: flex;
}
.weather-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

h1,
h2,
p {
  text-align: center;
}

.display-text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

span {
  margin-right: 10px;
}

.search-container {
  width: 100%;
  padding: 10px;
  background-color: gold;
}

.input-container {
  padding: 10px;
}

input,
button {
  border: 1px solid black;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  flex-direction: column;
  gap: 5px;
}

ul li {
  text-align: center;
  background-color: antiquewhite;
  width: 100%;
  border: 1px dashed darkblue;
  padding: 2px;
}

.skeleton {
  display: none;
  height: 20px;
  width: 100%;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 500px 100%;
  animation: shimmer 2s linear infinite;
  animation-direction: alternate;
}

@keyframes shimmer {
  from {
    background-position: -500px 100%;
  }
  to {
    background-position: 500px 100%;
  }
}

.error {
  color: red;
}
